/node_modules
/public/hot
/public/uploads/*
public/uploads/*
public/js/*
/public/storage

/storage/*.key
/vendor
.idea/*
.idea/Clinica.iml
.idea/php.xml
.idea/workspace.xml
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/generateqr/*
/public/temp/*
/public/img/*
public/font-awesome/*
rest-test/*
