.ana-ext-title {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

.btn-link-clinica {
    padding: 2px;
    color: #f6993f !important;
}

.titleBancaIngreso{
    text-align: center;
    padding-bottom: 4px;
}

.banca_seccion{
    background-color: #72BEE0;
}

.row-citologia{
    margin-bottom: 2px;
}

.row-citologia dt, dd{
    font-size: .70rem;
}

.p-cito-resultado{
    font-size: .70rem;
    padding: 2px 4px;
    margin: 0;
}

.h5-cito-titulo{
    text-align: center;
    font-weight: 700;
    color: #FF9500;
}

.h6-cito-titulo{
    text-align: center;
    font-weight: 700;
    color: #FF9500;
}

.table-cito thead tr th{
    text-align: center !important;
}

.table-cito tbody tr td dl dt, dd {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.table-cito tbody tr td dl dd {
    text-align: right;
}